<div>
  <h4>本当に退会しますか？</h4>
  <h5>
    <p>退会すると、登録情報や</p>
    <p>これまでの購入履歴が閲覧できなくなります</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
  </h5>
</div>
<%=link_to "退会しない", customers_my_page_path %>
<%=link_to "退会する", customers_leave_path,method: :patch,"data-confirm"=>"退会しますか?" %>