<h1>商品新規登録</h1>

<%= form_for model: @item, url:'/admin/items' do |f| %>

<table>
  <tr>
    <th>商品画像</th>
    <th><%= f.file_field :image, accept: "image/*" %></th>
    <th>選択されていません</th>
  </tr>

  <tr>
    <th>商品名</th>
    <th><%= f.text_field :name %></th>
  </tr>

  <tr>
    <th>商品説明</th>
    <th><%= f.text_area :introduction %></th>
  </tr>

  <tr>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <th></th>
    <th></th>
    <th>円</th>
  </tr>

</table>
<% end %>






