<body>
  <div class="container">
    <div class="row justify-content-md-center">
    <h1>
      <strong>About</strong>
    </h1>
    </div>

  <div class="<justify-content-md-center">
    <h5>
      <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p></br>
      <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p></br>
      <p>様々なバリエーションをご用意しております。</p></br>
      <p>また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p></br>
      <p>ぜひご注文ください。</p>
    </h5>
  </div>
</div>
</body>