<div class="container">
  <div class="row>">
    <div class="col-lg-6 mx-auto center-block">
      <h5>
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
      </h5>
    </div>
  </div>
</div>
