<!DOCTYPE>
<html>
  <main>
    <p id="notice"></p>
      <div class="container">
        <div class="row>">
          <div class="mx-auto col-11 colsm-10 col-lg-8 colxl-6">
            <p>ようこそ、ながのCAKEへ！</p>

            <p>このサイトは、ケーキ販売のECサイトになります。</p>

            <p>会員でない方も商品の閲覧はできますが、</p>

            <p>購入には会員登録が必要になります。</p>
          </div>
        </div>
      </div>
  </main>
</html>