<h1>注文履歴一覧</h1>

<table>
  <thead>
  <tr>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
  </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
  <tr>
    <td><%= link_to admin_order_path(order) do %>
        <%= created_at %>
        <% end %></td>
    <td>
      <%= last_name_kana + first_name_kana(order.customer) %></td>
    <td>
      <%= order.order_detail.quantity %></td>
  </tr>
  <% end %>
  </tbody>
</table>